div.select-block
    .options-block(ng-transclude)
    div(isteven-multi-select
    input-model="inputModel"
    output-model="outputModel"
    button-label="maker"
    item-label="maker"
    tick-property="ticked"
    disable-property="disabled"
    selection-mode="single"
    helper-elements)