//- index.jade
extends ../layout.jade
block content
    section.map
        .info
            .calc-block
                h1.title Рассчитать заказ
    section.status
        .inner-status
            h1.title-default Статус доставки груза
    section.why-we
        h1.title-default Почему мы?
        ul
            each item in why_we
                li
                    h2 #{item.title}
                    p #{item.small_description}
                    p #{item.description}
    section.catalog
        h1.title-default Каталог товаров
        ul.list-products
            each product in catalog
                li
                    .row
                        div.info
                            ul
                                li
                                    h2 #{product.title}
                                li
                                    span maрка
                                    | #{product.mark}
                                li
                                    span класс топлива
                                    | #{product.grade_of_fuel}
                                li
                                    span вид
                                    | #{product.type}
                                li (#{product.fuel})
                        div.description
                            p #{product.description}
                        div.order
                            a(href="")
                                span Заказать
    section.collaborate
        h1.title-default С нами сотрудничают
        ul
            li Автозаправки
            li Железнодорожные службы
            li Авиаперевозки
            li Судоходство
            li Транспортные службы
            li Частные дома
        div.wrapper-link
            a(href="")
                span Стань нашим партнером
    section.petroleum-products
        h1.title-default Продажа нефтепродуктов
        p Сегодня продажа нефтепродуктов - это отрасль торговли, важность которой невозможно переоценить. К этой категории относятся различные вещества, получаемые путем перегонки сырой нефти, разные технологии их получения дают возможность производить принципиально разную по свойствам продукцию. Дизельное топливо, разные марки бензина, мазут, судовое и печное топливо – все эти продукты являются неотъемлемой частью развития и функционирования экономики.
        p Основное направление деятельности компании ТД Феникс - поставка нефтепродуктов и продажа нефтепродуктов оптом по всей территории Поволжья. Оперативность и точность, адекватный уровень цен на услуги и отличное техническое оснащение – все это особенности работы наше компании. Наш автопарк насчитывает десятки единиц спецтехники, вся она постоянно проверяется на предмет соответствия стандартам. Торговля нефтепродуктами - дело хлопотное и технически сложное, наша деятельность подлежит контролю со стороны многих организаций, но наш многолетний опыт позволяет осуществлять ее без нарушений и согласно самым жестким требованиям и стандартам.
        p Умелая организация труда и рациональное использование техники и рабочего ресурса позволяет нам наиболее выгодно для клиента осуществлять такой вид деятельности, как продажа нефтепродуктов, и Москва не может составить на конкуренции в этом плане.
        p Вам требуются нефтепродукты оптом? Или вам нужно доставить из Москвы нефтепродукты на свое производство? Обращайтесь к нам, мы решим задачу любой сложности!