//- index.jade
extends ../layout.jade
block content
    section.map
        .info
            .calc-block(ng-controller="FormCtrl")
                h1.title
                    span Рассчитать заказ
                    span(ng-if="!isCalcForm" ng-click="back()")
                form.form-validate(name="formValidate" ng-init="action='./controller.php'" novalidate ng-if="isCalcForm")
                    div
                        input#from(type="text" name="from" ng-model='dataForm.data.from' autocomplete="off" required)
                        label(for="from") Откуда
                    div
                        input#to(type="text" name="to" ng-model='dataForm.data.to' autocomplete="off" required)
                        label(for="to") Куда
                    div
                        input#type_of_product(type="text" name="type_of_product" ng-model='dataForm.data.type_of_product' autocomplete="off" required)
                        label(for="type_of_product") Вид продукта
                    .wrapper-send
                    div
                        input#quantity_tons(type="text" name="quantity_tons" ng-model='dataForm.data.quantity_tons' autocomplete="off" required only-int-numbers)
                        label(for="quantity_tons") Количество тонн
                    .wrapper-send
                        button.send(ng-click='send(dataForm,formValidate,action)')
                            span расчитать
                    input(type="hidden" name="task" ng-init='dataForm.hidden.task="calculate_order"' ng-model='dataForm.hidden.task')
                dl.result_order(ng-if="!isCalcForm")
                    dt
                        span Расстояние
                    dd
                        span 2079 км
                    dt
                        span Расчетное время в пути
                    dd
                        span 1дн 9ч 58мин
                    dt
                        span Количество тонн
                    dd
                        span 23
                    dt
                        span Тонн за рейс
                    dd
                        span 23.8 руб.
                    dt
                        span Цена с доставкой
                    dd
                        span 916 720 руб.
        .header-map(ng-controller="GMapCtrl")
            ui-gmap-google-map(center='{"latitude": 54.7281544,"longitude": 43.1882402}' zoom='6' options="options")
                ui-gmap-marker(coords='{"latitude": 54.726,"longitude": 43.1882402}' options="marker.options" idkey="1" ng-init="marker.options.icon='images/baloons/2.png'")
                ui-gmap-marker(coords='{"latitude": 53.2564653,"longitude": 37.6564841}' options="marker.options" idkey="2" ng-init="marker.options.icon='images/baloons/2.png'")
                ui-gmap-marker(coords='{"latitude": 56.7600575,"longitude": 33.8414983}' options="marker.options" idkey="3" ng-init="marker.options.icon='images/baloons/2.png'")
                ui-gmap-marker(coords='{"latitude": 51.66456585,"longitude": 44.8945049}' options="marker.options" idkey="4" ng-init="marker.options.icon='images/baloons/2.png'")
                ui-gmap-marker(coords='{"latitude": 54.6150719,"longitude": 39.6932685}' options="marker.options" idkey="5" ng-init="marker.options.icon='images/baloons/2.png'")
    section.status
        .inner-status
            h1.title-default Статус доставки груза
            form.form-validate(name="formValidate" ng-controller="FormCtrl" ng-init="action='./controller.php'" novalidate)
                input(type="text" name="delivery_status" placeholder="Введите номер накладной" ng-model='dataForm.data.delivery_status' autocomplete="off" required)
                span(ng-click="openPopup('ask_questions',{})") Где найти номер накладной
                button.send(ng-click='send(dataForm,formValidate,action)')
                    span Показать
                input(type="hidden" name="task" ng-init='dataForm.hidden.task="delivery_status"' ng-model='dataForm.hidden.task')
    section.why-we
        h1.title-default Почему мы?
        ul
            each item in why_we
                li
                    h2 #{item.title}
                    p #{item.small_description}
                    p #{item.description}
    section.catalog
        h1.title-default Каталог товаров
        ul.list-products
            each product in catalog
                li
                    .row
                        div.info
                            ul
                                li
                                    h2 #{product.title}
                                li
                                    span maрка
                                    | #{product.mark}
                                li
                                    span класс топлива
                                    | #{product.grade_of_fuel}
                                li
                                    span вид
                                    | #{product.type}
                                li (#{product.fuel})
                        div.description
                            p #{product.description}
                        div.order
                            a(href="")
                                span Заказать
    section.collaborate
        h1.title-default С нами сотрудничают
        ul
            li Автозаправки
            li Железнодорожные службы
            li Авиаперевозки
            li Судоходство
            li Транспортные службы
            li Частные дома
        div.wrapper-link
            a(href="" ng-click="openPopup('ask_questions',{})")
                span Стань нашим партнером
    section.petroleum-products
        h1.title-default Продажа нефтепродуктов
        p Сегодня продажа нефтепродуктов - это отрасль торговли, важность которой невозможно переоценить. К этой категории относятся различные вещества, получаемые путем перегонки сырой нефти, разные технологии их получения дают возможность производить принципиально разную по свойствам продукцию. Дизельное топливо, разные марки бензина, мазут, судовое и печное топливо – все эти продукты являются неотъемлемой частью развития и функционирования экономики.
        p Основное направление деятельности компании ТД Феникс - поставка нефтепродуктов и продажа нефтепродуктов оптом по всей территории Поволжья. Оперативность и точность, адекватный уровень цен на услуги и отличное техническое оснащение – все это особенности работы наше компании. Наш автопарк насчитывает десятки единиц спецтехники, вся она постоянно проверяется на предмет соответствия стандартам. Торговля нефтепродуктами - дело хлопотное и технически сложное, наша деятельность подлежит контролю со стороны многих организаций, но наш многолетний опыт позволяет осуществлять ее без нарушений и согласно самым жестким требованиям и стандартам.
        p Умелая организация труда и рациональное использование техники и рабочего ресурса позволяет нам наиболее выгодно для клиента осуществлять такой вид деятельности, как продажа нефтепродуктов, и Москва не может составить на конкуренции в этом плане.
        p Вам требуются нефтепродукты оптом? Или вам нужно доставить из Москвы нефтепродукты на свое производство? Обращайтесь к нам, мы решим задачу любой сложности!