//- index.jade
extends ../layout.jade
block content
    article.content-block
        .two-column-block
            .row
                div.img(style="background-image:url('./images/bg/manufacturer.jpg')")
                    img(src="./images/bg/manufacturer.jpg")
                div
                    .inner
                        .wrapper-img
                            img(src="./images/logo-img.jpg")
                        h1 Антипинский НПЗ
                        p ТД Феникс реализует продукцию одного из своих самых перспективных партнеров в Сибири – Антипинского НПЗ. Этот завод построен совсем недавно, разные его очереди были запущены с 2006 по 2012 годы. Он является современным предприятием, где установлено оборудование по переработке нефти в продукцию высокого качества, соответствующую стандартам Евро-5. До его появления такой нефтяной регион, как Тюмень бы лишен светлых нефтепродуктов собственного производства, и их приходилось завозить из соседних областей.
                        p Антипинский НПЗ - предприятие динамичное, постоянно наращивающее обороты и имеющее далеко идущие планы. На нашем сайте вы можете заказать следующую продукцию его производства:
                        ul
                            li Дизельное топливо;
                            li Бензин и прочее.
                        p Более подробно узнать об ассортименте продукции и ценах на нее вы можете в прайсе или при личном контакте с менеджером. Мы работаем по всему Поволжью, и доставим вам продукцию Антипинского НПЗ в любых объемах и прямо на место. Оптовые поставки, собственный транспорт, дифференцированная система скидок – все это сделает наше сотрудничество удобным и приятным. Звоните нам, делайте заказ!
    section.catalog
        h1.title-default Продукция
        ul.list-products
            each product,index in catalog
                if index==0
                    li
                        .row
                            div.info
                                ul
                                    li
                                        h2 #{product.title}
                                    li
                                        span maрка
                                        | #{product.mark}
                                    li
                                        span класс топлива
                                        | #{product.grade_of_fuel}
                                    if product.type
                                        li
                                            span вид
                                            | #{product.type}
                                    li (#{product.fuel})
                            .description
                                ul
                                    li
                                        a(download href="./download/certificate.pdf") Скачать сертификат
                                    li
                                        span 34 100
                            div.order(fadeinfly)
                                a(href="" ng-click="openPopup('order',{product:'#{JSON.stringify(product)}'})")
                                    span Заказать
    section.rent
        .img-content
            .inner
                h1 Аренда бензовоза
                img(src="./images/car.jpg")
        .rent-content
            .inner
                p Торговый дом «Феникс» имеет собственный автопарк, состоящий из двенадцати бензовозов объемом от 27 до 45 литров. Наши специалисты помогут вам подобрать бензовоз, идеально отвечающий вашим требованиям. Узнать подробнее об условиях аренды бензовозов и сделать заказ вы можете, позвонив по номеру 8-800-775-93-38 или заполнив форму на сайте.
                div.wrapper-links
                    div
                        a(href="" ng-click="openPopup('order',{product:'#{JSON.stringify(catalog[0])}'})")
                            span Заказать бензовоз
                    div
                        a.more(href="./benzovozi.html") Посмотреть парк бензовозов
